*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# El wrapper de Gradle debe quedar versionado para que ./gradlew
# funcione sin instalar Gradle globalmente (el *.jar global lo bloquea)
!gradle/wrapper/gradle-wrapper.jar
